<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">
    <title>Sprint 3 Page</title>
    <link href="../assets/stylesheets/Sprint2.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <a href="/"> Home Page </a>
    <h1> <%= sprint %> </h1>
    <section>
      <h2> Please click on buttons below to see the respective table data </h2>
      <table>
        <tbody>
          <tr>
            <td><button onclick="window.location.href = '/disp_data?QueryID=13';"> View Query13 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=14';"> View Query14 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=15';"> View Query15 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=16';"> View Query16 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=17';"> View Query17 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=18';"> View Query18 data </button></td>
          </tr>
          <tr>
            <td><button onclick="window.location.href = '/disp_data?QueryID=19';"> View Query19 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=20';"> View Query20 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=21';"> View Query21 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=22';"> View Query22 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=23';"> View Query23 data </button></td>
            <td><button onclick="window.location.href = '/disp_data?QueryID=24';"> View Query24 data </button></td>
          </tr>
        </tbody>
      </table>
    </section>
    <section>
  </body>
</html>
